In [1]:
import pandas as pd
import sqlalchemy
import sqlite3 as sq
from db_key import user, password, port, database, host, url

In [2]:
engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [3]:
df = pd.read_csv("../../Data/CSV_Files/Gas_Demand.csv", encoding='utf-8')
df.head()

   Unnamed: 0        Date  Area  Industrial  Electric      Fuel  Residential
0           0  2019-04-01  U.S.    667363.0  724048.0    3999.0     327124.0
1           1  2019-04-01  U.S.    667363.0  724048.0  156211.0     327124.0
2           2  2019-03-01  U.S.    740796.0  792262.0    4133.0     685904.0
3           3  2019-03-01  U.S.    740796.0  792262.0  160122.0     685904.0
4           4  2019-02-01  U.S.    710003.0  769182.0    3733.0     805830.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11616 entries, 0 to 11615
Data columns (total 7 columns):
Unnamed: 0     11616 non-null int64
Date           11616 non-null object
Area           11616 non-null object
Industrial     11616 non-null float64
Electric       11616 non-null float64
Fuel           11616 non-null float64
Residential    11616 non-null float64
dtypes: float64(4), int64(1), object(2)
memory usage: 635.3+ KB

In [5]:
df_GasDemand_US = df.loc[(df["Area"]=="U.S.") & (df["Unnamed: 0"]<=30)]
df_GasDemand_US = df_GasDemand_US.drop(["Unnamed: 0"], axis=1)
df_GasDemand_US

          Date  Area  Industrial   Electric      Fuel  Residential
0   2019-04-01  U.S.    667363.0   724048.0    3999.0     327124.0
1   2019-04-01  U.S.    667363.0   724048.0  156211.0     327124.0
2   2019-03-01  U.S.    740796.0   792262.0    4133.0     685904.0
3   2019-03-01  U.S.    740796.0   792262.0  160122.0     685904.0
4   2019-02-01  U.S.    710003.0   769182.0    3733.0     805830.0
5   2019-02-01  U.S.    710003.0   769182.0  144508.0     805830.0
6   2019-01-01  U.S.    791035.0   834116.0    4133.0     949438.0
7   2019-01-01  U.S.    791035.0   834116.0  158333.0     949438.0
8   2018-12-01  U.S.    755975.0   743958.0    3684.0     762819.0
9   2018-12-01  U.S.    755975.0   743958.0  158426.0     762819.0
10  2018-11-01  U.S.    726304.0   756296.0    3565.0     595468.0
11  2018-11-01  U.S.    726304.0   756296.0  152972.0     595468.0
12  2018-10-01  U.S.    671454.0   894986.0    3684.0     254554.0
13  2018-10-01  U.S.    671454.0   894986.0  155870.0     254554.0
14  2018-09-01  U.S.    646642.0  1044507.0    3565.0     112072.0
15  2018-09-01  U.S.    646642.0  1044507.0  149499.0     112072.0
16  2018-08-01  U.S.    657898.0  1195340.0    3684.0      99325.0
17  2018-08-01  U.S.    657898.0  1195340.0  152432.0      99325.0
18  2018-07-01  U.S.    654616.0  1235633.0    3684.0     105470.0
19  2018-07-01  U.S.    654616.0  1235633.0  149155.0     105470.0
20  2018-06-01  U.S.    638919.0   952471.0    3565.0     118892.0
21  2018-06-01  U.S.    638919.0   952471.0  141513.0     118892.0
22  2018-05-01  U.S.    660292.0   853201.0    3684.0     167909.0
23  2018-05-01  U.S.    660292.0   853201.0  145394.0     167909.0
24  2018-04-01  U.S.    686787.0   707388.0    3565.0     438565.0
25  2018-04-01  U.S.    686787.0   707388.0  139203.0     438565.0
26  2018-03-01  U.S.    726891.0   755400.0    3684.0     656263.0
27  2018-03-01  U.S.    726891.0   755400.0  143224.0     656263.0
28  2018-02-01  U.S.    689088.0   701253.0    3327.0     686844.0
29  2018-02-01  U.S.    689088.0   701253.0  127773.0     686844.0
30  2018-01-01  U.S.    770972.0   785260.0    3684.0     975802.0

In [6]:
df_GasDemand_US.shape

(31, 6)

In [7]:
# Upload dataframe to Postgres SQL table in Heroku database
df_GasDemand_US.to_sql(name="gasdemand", con = engine, if_exists = 'replace', index=False)

In [8]:
# import os

# if not os.environ.get('DYNO'):
#     import config
#     print(config.name)
    
# if os.environ.get("DATABASE_URL"):
#     url=os.environ["DATABASE_URL"]
# else:
#     url = config.url

# engine= sqlalchemy.create_engine(url)

In [9]:
df_test = pd.read_sql("SELECT * FROM gasdemand", engine)
df_test

          Date  Area  Industrial   Electric      Fuel  Residential
0   2019-04-01  U.S.    667363.0   724048.0    3999.0     327124.0
1   2019-04-01  U.S.    667363.0   724048.0  156211.0     327124.0
2   2019-03-01  U.S.    740796.0   792262.0    4133.0     685904.0
3   2019-03-01  U.S.    740796.0   792262.0  160122.0     685904.0
4   2019-02-01  U.S.    710003.0   769182.0    3733.0     805830.0
5   2019-02-01  U.S.    710003.0   769182.0  144508.0     805830.0
6   2019-01-01  U.S.    791035.0   834116.0    4133.0     949438.0
7   2019-01-01  U.S.    791035.0   834116.0  158333.0     949438.0
8   2018-12-01  U.S.    755975.0   743958.0    3684.0     762819.0
9   2018-12-01  U.S.    755975.0   743958.0  158426.0     762819.0
10  2018-11-01  U.S.    726304.0   756296.0    3565.0     595468.0
11  2018-11-01  U.S.    726304.0   756296.0  152972.0     595468.0
12  2018-10-01  U.S.    671454.0   894986.0    3684.0     254554.0
13  2018-10-01  U.S.    671454.0   894986.0  155870.0     254554.0
14  2018-09-01  U.S.    646642.0  1044507.0    3565.0     112072.0
15  2018-09-01  U.S.    646642.0  1044507.0  149499.0     112072.0
16  2018-08-01  U.S.    657898.0  1195340.0    3684.0      99325.0
17  2018-08-01  U.S.    657898.0  1195340.0  152432.0      99325.0
18  2018-07-01  U.S.    654616.0  1235633.0    3684.0     105470.0
19  2018-07-01  U.S.    654616.0  1235633.0  149155.0     105470.0
20  2018-06-01  U.S.    638919.0   952471.0    3565.0     118892.0
21  2018-06-01  U.S.    638919.0   952471.0  141513.0     118892.0
22  2018-05-01  U.S.    660292.0   853201.0    3684.0     167909.0
23  2018-05-01  U.S.    660292.0   853201.0  145394.0     167909.0
24  2018-04-01  U.S.    686787.0   707388.0    3565.0     438565.0
25  2018-04-01  U.S.    686787.0   707388.0  139203.0     438565.0
26  2018-03-01  U.S.    726891.0   755400.0    3684.0     656263.0
27  2018-03-01  U.S.    726891.0   755400.0  143224.0     656263.0
28  2018-02-01  U.S.    689088.0   701253.0    3327.0     686844.0
29  2018-02-01  U.S.    689088.0   701253.0  127773.0     686844.0
30  2018-01-01  U.S.    770972.0   785260.0    3684.0     975802.0